/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#grid {
	-fx-background-color: radial-gradient(radius 100%, #ffffff, #888888);
}

.tile {
	-fx-border-color: rgba(205, 205, 205, 0.3);
	-fx-background-color: rgba(255, 255, 255, 0.2);
}

.winning_tile {
	-fx-border-color: rgb(255,255,255);
	-fx-background-color: #FFFFFF;
}